@media (max-width: 1440px) {
    .container {
        width: 90%;
    }
}

@media (max-width: 1200px) {
    .home-title a {
        display: none;
    }
    .market-title h1 {
        text-align: center;
    }
    .market-title p {
        text-align: center;
    }
    .norton {
        margin-left: 100px;
    }
    .market-title button {
        margin-left: 170px;
    }

    .that-title span {
        margin-left: 480px;
    }
    .that-title h1 {
        text-align: center;
    }

    .design-left h1 {
        text-align: center;
    }
    .design-left p {
        text-align: center;
    }
    .support {
        margin-left: 40px;
    }
    .design-left button {
        margin-left: 270px;
    }
    .that-img img {
        margin-left: -200px;
    }
    .gets-title button {
        margin-left: 430px;
    }
}
@media (max-width: 1024px) {
    .that-img img {
        width: 90%;
        margin-left: 50px;
    }
    .world {
        margin-left: 200px;
    }
    .product {
        margin-left: 200px;
    }
    .gets-title span {
        margin-left: 350px;
    }
    .gets-title button {
        margin-left: 350px;
    }
    .recent {
        margin-left: 150px;
    }
}
@media (max-width: 992px) {

}
@media (max-width: 768px) {
    .market-title button {
        margin-left: 150px;
    }
    .market-img img {
        width: 90%;
    }
    .that-title span {
        margin-left: 300px;
    }
    .world {
        margin-left: 100px;
    }
    .product {
        margin-left: 100px;
    }
    .gets-title span {
        margin-left: 250px;
    }
    .gets-title button {
        margin-left: 240px;
    }
    .recent {
        margin-left: 50px;
    }
}
@media (max-width: 576px) {
    .market-title h1 {
        font-size: 50px !important;
    }
    .norton-title h1 {
        font-size: 18px !important;
    }
    .that-title h1 {
        font-size: 35px !important;
    }
    .design-left h1 {
        font-size: 35px !important;
    }
    .support {
        margin-left: 10px;
    }
    .support-title img {
        margin-left: 120px;
    }
    .world {
        margin-left: -10px;
    }
    .world-img img {
        width: 90%;
    }
    .product {
        margin-left: -10px;
    }
    .gets-title span {
        margin-left: 150px;
    }
    .gets-title button {
        margin-left: 150px;
    }
    .recent {
        margin-left: -10px;
        width: 200px;
    }
    .recent-top {
        width: 500px;
        height: 200px;
    }
    .recent-right {
        margin-left: 40px;
        width: 500px;
        height: 400px;
    }
    .recent-right img {
        width: 400px;
    }
    .recent-top-title {
        padding: 0 0;
        margin: 0 0;
    }

    .terms-bottom-title {
        padding-bottom: 20px;
    }
    .terms-top img {
        padding-bottom: 20px;
    }
    .design-right img {
        width: 90%;
    }
    .that-img img {
        margin-left: 10px;
    }
}
@media (max-width: 451px) {
    .market-title h1 {
        font-size: 30px !important;
    }
    .market-title p {
        font-size: 13px !important;
    }
    .norton-title h1 {
        font-size: 18px !important;
    }
    .norton {
        margin-left: 20px;
    }
    .market-title button {
        margin-left: 100px;
    }
    .that-title span {
        margin-left: 150px;
    }
    .that-title h1 {
        font-size: 30px !important;
    }
    .that-title h3 {
        font-size: 30px !important;
    }
    .that-title p {
        font-size: 15px !important;
    }
    .that-img img {
        margin-left:  10px;
    }
    .design-left h1 {
        font-size: 20px !important;
    }
    .design-left p {
        font-size: 13px !important;
    }
    .support {
        width: 400px;
        justify-content: space-between;
    }
    .support-title img {
        margin-left: 70px;
    }
    .design-left  button {
        margin-left: 150px;
    }
    .design-right {
        width: 400px;
    }
    .emaill-name {
        justify-content: space-between;
        width: 380px;
    }
    .emaill-name input {
        width: 171px;
    }
    .subject1 {
        width: 376px;
    }
    .subject2 {
        width: 367px;
    }
    .emaill button {
        width: 354px;
    }
    .world-title h1 {
        font-size: 30px !important;
    }
    .world-title p {
        font-size: 14px !important;
    }
    .customer-title h1 {
        font-size: 10px !important;
    }
    .customer {
        width: 400px;
    }
    .customer-title img {
        display: none;
    }
    .product-title h1 {
        font-size: 30px !important;
    }
    .product-title p {
        font-size: 11px !important;
    }
    .education-title {
        justify-content: space-between;
        width: 400px;
    }
    .education img {
        width: 90%;
    }
    .product-img {
        width: 500px;
    }
    .product-img img {
        width: 415px;
    }
    .gets-title span {
        margin-left: 110px;
    }
    .gets-title p {
        font-size: 20px !important;
    }
    .gets-title button {
        margin-left: 100px;
    }
    .product-img button {
        margin-left: 100px;
    }
    .recent-top{
        width: 429px;
    }
    .recent-top-title {
        padding: 0 0;
    }
    .recent-right {
        margin-left: -10px;
    }


}
@media (max-width: 400px) {
    .market-title h1 {
        font-size: 30px !important;
    }
    .market-title p {
        font-size: 13px !important;
    }
    .norton-title h1 {
        font-size: 18px !important;
    }
    .norton {
        margin-left: 20px;
    }
    .market-title button {
        margin-left: 100px;
    }
    .that-title span {
        margin-left: 150px;
    }
    .that-title h1 {
        font-size: 30px !important;
    }
    .that-title h3 {
        font-size: 30px !important;
    }
    .that-title p {
        font-size: 15px !important;
    }
    .that-img img {
        margin-left:  10px;
    }
    .design-left h1 {
        font-size: 20px !important;
    }
    .design-left p {
        font-size: 13px !important;
    }
    .support {
        width: 400px;
        justify-content: space-between;
    }
    .support-title img {
        margin-left: 70px;
    }
    .design-left p {
    font-size: 10px !important;
    }
    .design-left  button {
        margin-left: 150px;
    }
    .design-right {
        width: 350px;
    }
    .emaill-name {
        justify-content: space-between;
        width: 320px;
    }
    .emaill-name input {
        width: 150px;
    }
    .subject1 {
        width: 320px;
    }
    .subject2 {
        width: 320px;
    }
    .emaill button {
        width: 300px;
    }
    .world-title h1 {
        font-size: 20px !important;
    }
    .world-title p {
        font-size: 14px !important;
    }
    .customer-title h1 {
        font-size: 10px !important;
    }
    .customer {
        width: 350px;
    }
    .customer-title img {
        display: none;
    }
    .product-title h1 {
        font-size: 20px !important;
    }
    .product-title p {
        font-size: 10px !important;
    }
    .education-title {
        justify-content: space-between;
        width: 300px;
    }
    .education img {
        width: 90%;
    }
    .product-img {
        width: 350px;
    }
    .product-img img {
        width: 350px;
    }
    .gets-title span {
        margin-left: 70px;
    }
    .gets-title p {
        font-size: 20px !important;
    }
    .gets-title button {
        margin-left: 60px;
    }
    .product-img button {
        margin-left: 100px;
    }
    .recent-top{
        width: 350px;
    }
    .recent-top-title h1 {
        font-size: 10px !important;
    }
    .recent-top-title p {
        font-size: 10px !important;
    }
    .recent-top-title {
        padding: 0 0;
    }
    .recent-right {
        width: 440px;
        margin-left: 10px;
    }
    .recent-right img {
        width: 300px;
    }


}
@media (max-width: 376px) {

}
@media (max-width: 320px) {
    .that-title span {
        margin-left: 90px;
    }
    .support {
        justify-content: space-between;
        width: 300px;
    }
    .support-title img {
        margin-left: 50px;
    }
    .design-left button {
        margin-left:  90px;
    }
    .customer {
        width: 300px;
    }
    .product-img {
        width: 300px;
    }
    .product-img img {
        width: 300px;
    }
    .swiper-slide {
        margin-left: 10px;
    }
    .gets-title span {
        margin-left: 40px;
    }
    .gets-title button {
        margin-left: 50px;
    }
    .recent-top {
        width: 300px;
    }
    .recent-top img {
        width: 180px;
        height: 180px;
    }
    .recent-right {
        width: 300px;
        height: 300px;
        margin-left: 5px;
    }
    .recent-right img {
    width: 260px}
}
